<nav class="bg-neutral-primary fixed w-full z-20 top-0 start-0 border-b border-default">
<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
 <ul>
  <li><a href="homepage.html.jinja">Home</a></li>
  <li><a href="/browse">browsePage</a></li>
 </ul>
</div>
</nav>